<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="icon" type="image/png" href="{% static 'img/favcon.png' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <section class="signin" id="signin">
        <div class="first">
            <h1 class="login"> Login As</h1>
        </div>
        <div class="choose">
            <a href="{% url 'admin' %}" class="button"><button type="admin" name="admin"  id="admin">Admin</button></a>
           <p> <a href="{% url 'tologin' %}" class="button"> <button type="teacher"name="teacher" id="teacher">Teacher</button></a></p>
        </div>
        
    </section>
</body>


</html>